<tr>
  <td><%= math_game.discord_user.name %></td>
  <td><%= math_game.time %>  </td>
  <td><%= math_game.difficulty %>  </td>
  <td><%= math_game.riddles_count %>  </td>
  <td><%= math_game.results %>  </td>
</tr>