<tr>
  <td>
  <%= link_to math_game.discord_user.name, discord_user_path(math_game.discord_user) %></td>
  <td><%= math_game.time %>  </td>
  <td><%= math_game.difficulty %>  </td>
  <td><%= math_game.riddles_count %>  </td>
  <td><%= (math_game.created_at).localtime.strftime("%b %e %R %Y") %>  </td>
  <td><%= create_links_for_players(math_game.players) %>  </td>
  <td><%= create_links_for_players(math_game.winners) %>  </td>
</tr>